// color variables
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$primary-blue: #24326f;
$primary-blue-dark: #070d59;
$black-2: #272121;
$bright-red: #ed1c24;
$red2: #ed2224;
$white2: #f2f2f2;
$blue2: #081158;

.font-robotto {
  font-family: "Roboto";
  font-style: normal;
}
.co-white {
  color: white !important;
}
.co-red2 {
  color: $red2 !important;
}
.co-blue2 {
  color: $blue2 !important;
}
.co-bright-red {
  color: $red2 !important;
}
.co-black2 {
  color: $black-2 !important;
}
.co-black {
  color: black !important;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fs-20 {
  font-size: 20px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.statis-header {
  display: flex;
  padding: 12px 150px 12px 150px;
  justify-content: space-between;
  border-bottom: solid 1px $primary-blue;
  background: #f9f9f9;
  @media (max-width: 950px) {
    display: none;
  }
}
.links {
  a:not(:last-child) {
    margin-right: 15px;
  }
  a {
    cursor: pointer;
  }
}
// .forward {
//   // border: 1px solid #24326f;
//   border-left: 1px solid #24326f;
//   border-bottom: 1px solid #24326f;
//   transform: rotate(90deg);
// }

.link-font {
  font-family: "Roboto";
  font-style: normal;
  color: $black-2;
}
.header {
  @media (max-width: 480px) {
    display: none;
  }
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  justify-content: space-evenly;
}
.d-flex {
  display: flex;
}
.sports-logo {
  width: 30%;
  img {
    width: 100%;
  }
}
.container {
  width: 100%;
  max-width: 1140px;
  padding: 0;
  margin: auto;
  content: "";
  clear: both;
}
.sports-banner {
  width: 30%;
}
.flex-content-center {
  display: flex;
  justify-content: center;
}
.jadwal-select {
  width: 13%;
  padding: 10px;
  @media (max-width: 950px) {
    width: 50%;
  }
}
.detail-jadwal {
  width: 87%;
  // height: 100%;
  @media (max-width: 950px) {
    width: 100%;
  }
}
.jadwal-controll {
  width: 5%;
}
.small-headline {
  position: relative;
  width: 375px;
  height: 265px;
  margin: 0 4px;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
  @media (max-width: 950px) {
    width: unset;
    height: unset;
  }
}
.big-headline {
  position: relative;
  width: 757px;
  height: 538px;
  margin: 0 4px;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
}
.headline {
  margin-top: 10px;
  background-color: $primary-blue-dark;
  padding: 20px 0;
}
.headline-desktop {
  @media (max-width: 700px) {
    display: none;
  }
}

.big-headline img,
.small-headline img,
.big-latest img {
  transition: transform 0.5s ease;
}
.small-headline img {
  object-fit: cover;
  width: 100%;
}

.big-headline:hover img,
.small-headline:hover img,
.big-latest:hover img {
  transform: scale(1.1);
}
.background-grad,
.big-headline::after,
.small-headline::after,
.big-latest::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(7, 13, 89, 0),
    rgba(7, 13, 89, 0.2),
    rgba(7, 13, 89, 0.4),
    #070d59
  );
}
.big-headline::after,
.small-headline::after,
.big-latest::after {
  content: "";
}
.news-information {
  position: absolute;
  bottom: 0;
  padding: 10px;
  z-index: 1;
}
.news-link {
  color: white;
  text-decoration: none;
}
.news-header {
  .news-category {
    background-color: $bright-red;
    padding: 5px 10px;
    margin-right: 10px;
  }
}
.more-news {
  display: flex;
  margin-top: 30px;
  .left-side {
    width: 70%;
    padding-right: 30px;
    // background-color: red;
  }
  .right-side {
    width: 30%;
    // background-color: blue;
  }
}
.banner-sports {
  margin-top: 10px;
  margin-bottom: 15px;
}
.each-news {
  width: 190px;
  position: relative;
  margin-right: 10px;
  // padding: 10px 5px;
  img {
    border-radius: 3px;
  }
  @media (max-width: 950px) {
    width: unset;
  }
}
.news-container {
  display: flex;
  padding: 10px 5px;
}
.title-section {
  color: $black-2;
  padding-bottom: 10px;
  border-bottom: 4px solid $bright-red;
  position: relative;
  span {
    position: absolute;
    right: 15px;
    font-size: 14px;
    font-weight: 400;
  }
}
.lastest-desc {
  padding: 10px;
  margin-left: 10px;
}
.lastest-category > p {
  color: $bright-red;
}
.lastest-date {
  align-items: flex-end;
}
.lastest-category {
  p {
    margin: unset;
  }
}
.big-latest {
  position: relative;
  margin: 10px 4px;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
}
// .latest-image {
//   border-radius: 5px;
// }
.most-popular-container {
  margin-top: 15px;
}
.most-popular-news {
  width: 187px;
  margin-right: 15px;
  @media (max-width: 950px) {
    width: 170px;
    .popular-image {
      width: 100%;
    }
  }
}
.latest-news {
  border-bottom: solid 1px $white2;
  align-items: center;
}
.multimedia-container {
  margin-top: 20px;
  background: radial-gradient(
    100% 802.12% at 0% 50%,
    #15366f 0%,
    #3150a3 55.2%,
    #15366f 100%
  );
  padding: 15px;
}
.react-multi-carousel-list {
  &.caroussel {
    margin-top: 20px;
  }
}
.caroussel-news {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}
.warp-logo-footer {
  width: 35%;
}
.wrap-about {
  width: 25%;
  padding-left: 110px;
  // text-align: center;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 15px;
    font-size: 20px;
    color: #ccc;
    transition: ease all 0.4s;
  }
  a {
    cursor: pointer;
  }
  a:hover {
    color: $bright-red;
    transition: ease all 0.4s;
  }
}
.wrap-kanal {
  // width: 40%;
  // padding-left: 70px;
  li {
    margin-bottom: 15px;
    font-size: 20px;
    color: #ccc;
    transition: ease all 0.4s;
  }
  a {
    cursor: pointer;
  }
  a:hover {
    color: $bright-red;
    transition: ease all 0.4s;
  }
}
.footer-sports {
  background-color: $primary-blue;
  padding: 60px 50px 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}
.wrap-social-footer {
  display: block;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  li {
    margin-right: 10px;
  }
}
.kanal {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  :not(:last-child) {
    margin-right: 30px;
  }
}
.kanal-container {
  margin-top: 20px;
}
.title-social-footer,
.img-logo-footer {
  margin-bottom: 20px;
}
.social-footer {
  background-color: #fff;
  color: $primary-blue-dark;
  text-align: center;
  border-radius: 5px;
  padding: 8px;
  font-size: 20px;
  transition: ease all 0.2s;
  &:hover {
    color: white;
    background-color: $primary-blue-dark;
  }
}
.copyright {
  background-color: $primary-blue-dark;
  font-size: 20px;
  text-align: center;
  color: #ccc;
  padding: 20px 0 0;
  font-family: "Roboto";
  font-weight: 500;
  @media (max-width: 950px) {
    font-size: 16px;
  }
}
.sticky {
  position: fixed;
  z-index: 1001;
  width: 100%;
  top: 0;
  animation: mymove 0.3s ease-in-out;
}
@keyframes mymove {
  from {
    top: -60px;
  }

  to {
    top: 0;
  }
}
#navbar {
  min-height: 62px;
  background-color: $primary-blue;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
  }
  li {
    height: 100%;
    display: flex;
    align-items: center;
    // display: inline;
    // float: left;
  }
  a {
    // display: block;
    padding: 8px;
  }
  .search-button {
    border-radius: 4px;
    background-color: $bright-red;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
  }
}
.active {
  border-bottom: solid 2px $bright-red;
  color: $bright-red;
}
.title-jadwal-hasil {
  font-weight: bold;
  @media (max-width: 950px) {
    display: flex;
  }
}
.kategori-select {
  cursor: pointer;
  border: none;
  padding: 5px 1px;
  font-size: 14px;
  width: 100%;
}
.tim-jadwal {
  margin-bottom: 10px;
}
.tgl-jadwal-hasil {
  margin-bottom: 12px;
}
.detail-jadwal-item {
  border-right: 1px solid #c4c4c4;
  padding: 5px 20px 5px 10px;
  width: 65%;
}
.tim-flag {
  display: flex;
  align-items: center;
  span {
    margin-left: 5px;
  }
}
.schedule {
  margin-top: 20px;
  @media (max-width: 950px) {
    display: flex;
    flex-direction: column;
  }
}
.small-info {
  margin-left: 10px;
}
.small-editors {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid $white2;
}
.hot-topics {
  margin-top: 10px;
  color: white;
  i {
    margin-right: 10px;
  }
  ul {
    list-style: none;
    padding-left: 0;
    @media (max-width: 950px) {
      font-size: 16px !important;
    }
  }
  li:nth-child(odd) {
    background-color: $primary-blue-dark;
  }
  li:nth-child(even) {
    background-color: $primary-blue;
  }
  li {
    padding: 15px;
  }
}
.tim-jadwal {
  display: flex;
  justify-content: space-between;
}
.desktop {
  @media (max-width: 950px) {
    display: none;
  }
}
.mobile,
.mobile-header {
  display: none;
  @media (max-width: 950px) {
    display: unset;
  }
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0 4px 4px 0 #d4d4d4;
  background: #fff;
}
#navbar-mobile {
  background: #24326f;
  max-height: 35px;
  padding: 5px 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}
.quick-menu {
  width: auto;
  max-height: 35px;
  overflow-y: hidden;
  overflow-x: auto;
  box-sizing: content-box;
  transition: top 0.2s ease-in-out;
  padding: 0 20px;
}
.quick-item {
  display: inline-block;
  margin: 8px;
  padding-bottom: 6px;
}
.date-jadwal,
.title-jadwal {
  @media (max-width: 950px) {
    font-size: 8px !important;
  }
}
.latest-mobile {
  .latest-image img {
    width: 100%;
  }
}
.more-news-mobile {
  padding: 0 20px;
}
.most-popular-mobile {
  margin-top: 20px;
  border-bottom: solid 1px $white2;
}
.edtors-choice-mobile {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px $white2;
}
.statistik-control {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  .select-statistik {
    width: 50%;
  }
  .select-statistik .kategori-select {
    border: 1px solid #443737 !important;
    box-shadow: inset -1px 0px 0px #ffffff;
    border-radius: 5px !important;
    padding: 8px;
    font-weight: 500;
    font-size: 14px;
    color: #131313;
  }
}
.control-button {
  width: 85px;
  font-size: 30px;
  color: $primary-blue-dark;
  .fa-circle-chevron-left {
    margin-right: 10px;
  }
}
.statistik-table {
  margin-bottom: 20px;
  margin-top: 20px;
  table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    padding: 15px;
  }
  thead {
    background-color: $primary-blue-dark;
    color: white;
    white-space: nowrap;
    tr {
      th {
        padding-bottom: 15px;
        padding-top: 15px;
      }
    }
  }
  thead > tr {
    // display: flex;
    // justify-content: space-between;
    position: relative;
  }
  td,
  th {
    text-align: left;
    padding: 5px 15px;
  }
  tbody {
    color: $black-2;
  }
  .statistik-data {
    display: flex;
    align-items: center;
    .flag-number {
      display: flex;
      align-items: center;
      span {
        margin-right: 10px;
      }
    }
    p {
      margin-left: 15px;
    }
  }
}
.mobile-footer {
  padding: 35px 50px 40px;
  background-color: $primary-blue !important;
  position: relative;
  text-align: center;
  ul {
    list-style: none;
  }
  ul li {
    display: inline;
    margin-right: 10px;
  }
  // .footer-logo {
  // }
}
.footer-menu {
  li {
    line-height: 40px;
    display: block !important;
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
  }
}
